.wrapper {
    display: flex;
    flex-direction: column;
  }
  .options-and-btn {
    padding-top: 14px;
  }
  
  .options-and-btn .btn {
    background-color: #0086da;
    color: #ffffff;
    font-size: 12px;
  }